<footer class="bg-muted text-white">
    <div class="container grid sm:grid-cols-2 lg:grid-cols-3 gap-4 border-b border-gray-700 py-4 pb-8">
        <div class="space-y-4">
            <h6 class="text-xl font-bold">About Grubly</h6>
            <p>Discover, create and share delicious recipes with our global community of food enthusiasts.</p>
        </div>

        <div class="space-y-4">
            <h6 class="text-xl font-bold">Quick Links</h6>
            <ul class="list-none">
                <li>
                    <a asp-controller="Home" asp-action="Index"
                        class="transition hover:text-primary hover:underline">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="AboutUs"
                        class="transition hover:text-primary hover:underline">About Us</a>
                </li>
                <li>
                    <a href="Browse Recipes" class="transition hover:text-primary hover:underline">Browse Recipes</a>
                </li>
                <li>
                    <a href="" class="transition hover:text-primary hover:underline">Create Recipe</a>
                </li>
            </ul>
        </div>

        <div class="space-y-4">
            <h6 class="text-xl font-bold">Contact Us</h6>

            <ul>
                <li>Email: <a href="">info@grubly.com</a></li>
                <li>Phone: <a href="">(123) 378-38928</a></li>
            </ul>

            <ul class="flex space-x-1 items-center">
                <a href="" class="hover:no-underline"><img src="/images/brand-x.svg" alt="X" class="w-5"></a>

                <a href="" class="hover:no-underline"><img src="/images/brand-instagram.svg" alt="Instagram"
                        class="w-5"></a>


                <a href="" class="hover:no-underline"><img src="/images/brand-facebook.svg" alt="Facebook"
                        class="w-5"></a>
            </ul>
        </div>
    </div>

    

    <p class="text-center py-4">
        &copy; 2024 Grubly. All rights reserved
    </p>
</footer>