<header class="bg-gray-100/50 py-4">
  <nav class="container flex items-center justify-between space-x-4">
    
    <a asp-controller="Home" asp-action="Index">

      <img src="/images/app-logo.svg" alt="Grubly" class="w-28 object-contain" />

    </a>
  
    <ul class="list-none flex space-x-4 items-center">
      <li class="hidden sm:inline-block"><a href="" class="transition hover:text-primary hover:underline">Home</a></li>
      <li class="hidden sm:inline-block"><a href="Browse Recipes" class="transition hover:text-primary hover:underline">Browse Recipes</a></li>
      <li><a href="" class="transition hover:text-primary hover:underline">Login</a></li>
      <li><a href="" class="btn btn-primary hover:no-underline">Register</a></li>
    </ul>
  </nav>            
</header>