<header class="bg-gray-100/50 py-4">
  <nav class="container flex items-center justify-between space-x-4">

    <a asp-controller="Home" asp-action="Index">

      <img src="/images/app-logo.svg" alt="Grubly" class="w-28 object-contain" />

    </a>

    <ul class="list-none flex space-x-4 items-center">
      <li class="hidden sm:inline-block"><a href="" class="hover:text-primary">Home</a></li>
      <li class="hidden sm:inline-block"><a href="Browse Recipes" class="hover:text-primary">Browse Recipes</a></li>
      <partial name="_LoginPartial" />
    </ul>
  </nav>
</header>