@{
ViewData["Title"] = "Recipes";
}

<section class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Create New Recipe</h2>

    
</section>