@page
@model ForgotPasswordModel
@{
ViewData["Title"] = "Forgot your password?";
Layout = "_AuthLayout";
}

<div class="bg-white max-w-md shadow rounded-md p-8 space-y-6 w-full">
    <h1 class="text-xl font-bold">Forgot your password?</h1>
    <form method="post" class="space-y-4">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div class="form-floating mb-3">
            <label asp-for="Input.Email">Enter your email</label>
            <input asp-for="Input.Email" class="form-control mb-1" autocomplete="username" aria-required="true"
                placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
        </div>
        <button type="submit" class="btn btn-primary block w-full !py-2 !rounded-sm">Reset Password</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}