@page
@model ResendEmailConfirmationModel
@{
ViewData["Title"] = "Resend email confirmation";
Layout = "_AuthLayout";
}

<div class="bg-white max-w-md shadow rounded-md p-8 space-y-6 w-full">
    <h1 class="text-xl font-bold">@ViewData["Title"]</h1>

    <form method="post" class="space-y-4">

        <div asp-validation-summary="All" class="text-red-500" role="alert"></div>

        <div class="form-floating mb-3">
            <label asp-for="Input.Email">Enter your email</label>
            <input asp-for="Input.Email" class="form-control mb-1" aria-required="true"
                placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
        </div>
        <button type="submit" class="btn btn-primary !rounded-md w-full block !py-2">Resend</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}